# FINAL PROJECT - TEAM 5
## Physical Design

### Team members:
   * Team Lead: Leah Ngan Lai
   * Kevin McDonald
   * Hsinke Ku
   * Thomas Lyons
   * Zachary Harvey
### Contents:
#### 2a&b. Create small tables, Implement the SQL DDL and Prepare dataframe (including 2a and 2b):
   * 2.1. Create 'olympic' table
   * 2.2. Create 'sport' table
   * 2.3. Create 'country' table
   * 2.4. Create 'medal' table
   * 2.5. Create 'discipline' table
   * 2.6. Create 'athlete' table
   * 2.7. Create 'event' table
   * 2.8. Create 'participation' table
#### 2c. Create big table, set up connection and Insert data into tables generated in 2a

In [ ]:
import pandas as pd
#importing package pandas

In [ ]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
#viewing outputs of multiple commands

In [ ]:
# we first read the flat - csv file.
olympic_medals = pd.read_csv('olympic_medals.csv')
# we rename the columns to make it easier without upper-case words
olympic_medals = olympic_medals.rename(columns={'Games':'games', 
                                                'Year':'year', 
                                                'City':'city', 
                                                'Sport':'sport', 
                                                'Discipline':'discipline', 
                                                'Athlete':'athlete',
                                                'Gender':'gender', 
                                                'Event':'event', 
                                                'Medal':'medal', 
                                                'Country':'country',
                                                'Country Code':'country_code',
                                                'Population':'population',
                                                'GDP per Capita':'gdp_per_capita'})
# we noticed that population should be integer, so we convert float to integer
olympic_medals['population'] = olympic_medals['population'].astype('Int64')
#print the dataset
olympic_medals

# 2. Create small tables, Implement the SQL DDL and Prepare dataframe
# (Including 2a and 2b)

## 2.1. Create 'olympic' table 
   * olympic_id (Primary Key) ðŸ”‘ 
   * games
   * year
   * city

In [ ]:
# create Olympic table
olympic = olympic_medals[['games', 'year', 'city']]
olympic = olympic.drop_duplicates()
olympic = olympic.reset_index(drop=True)
olympic = olympic.reset_index().rename(columns={'index': 'olympic_id'})
olympic

In [ ]:
# Merge table
o_olympic_medals = olympic_medals.merge(olympic,
                                        how='left',
                                        left_on=['games', 'year', 'city'],
                                        right_on=['games', 'year', 'city']).drop(columns=['games',
                                                                                          'year',
                                                                                          'city'])
o_olympic_medals

## 2.2. Create 'sport' table
   * sport_id (Primary key) ðŸ”‘ 
   * sport

In [ ]:
#Sport
sport = o_olympic_medals[['sport']]
sport = sport.drop_duplicates()
sport = sport.reset_index(drop=True)
sport = sport.reset_index().rename(columns={'index': 'sport_id'})
sport

In [ ]:
# merge table
s_olympic_medals = o_olympic_medals.merge(sport,
                                          how='left',
                                          left_on=['sport'],
                                          right_on=['sport']).drop(columns=['sport'])
s_olympic_medals

## 2.3. Create 'country' table
* country_id (Primary Key) ðŸ”‘ 
* country
* country_code
* population
* gdp_per_capita

In [ ]:
#country
country = s_olympic_medals[['country','country_code','population','gdp_per_capita']]
country = country.dropna()
country = country.drop_duplicates()
country = country.reset_index(drop=True)
country = country.reset_index().rename(columns={'index': 'country_id'})
country

In [ ]:
#merge table
c_olympic_medals = s_olympic_medals.merge(country,
                                          how='left',
                                          left_on=['country',
                                                   'country_code',
                                                   'population',
                                                   'gdp_per_capita'], 
                                          right_on=['country',
                                                    'country_code',
                                                    'population',
                                                    'gdp_per_capita']).drop(columns=['country',
                                                                                     'country_code',
                                                                                     'population',
                                                                                     'gdp_per_capita'])
c_olympic_medals

## 2.4. Create 'medal' table
* medal_id (Primary key ) ðŸ”‘ 
* medal

In [ ]:
#Medal
medal = c_olympic_medals[['medal']]
medal = medal.drop_duplicates()
medal = medal.reset_index(drop=True)
medal = medal.reset_index().rename(columns={'index': 'medal_id'})
medal

In [ ]:
m_olympic_medals = c_olympic_medals.merge(medal,
                                          how='left',
                                          left_on=['medal'],
                                          right_on=['medal']).drop(columns=['medal'])
m_olympic_medals

## 2.5. Create 'discipline' table
* discipline (primary key) ðŸ”‘ 
* discipline 
* sport_id (foreign key)

In [ ]:
#discipline
discipline = m_olympic_medals[['discipline','sport_id']]
discipline = discipline.drop_duplicates()
discipline = discipline.reset_index(drop=True)
discipline = discipline.reset_index().rename(columns={'index': 'discipline_id'})
discipline

In [ ]:
#merge table
d_olympic_medals = m_olympic_medals.merge(discipline,
                                          how='left',
                                          left_on=['discipline',
                                                   'sport_id'], 
                                          right_on=['discipline',
                                                    'sport_id']).drop(columns=['discipline', 
                                                                               'sport_id'])
d_olympic_medals

## 2.6. Create 'athlete' table
* athlete_id (primary_key) ðŸ”‘ 
* athlete
* gender
* country_id (foreign key)

In [ ]:
#athlete
athlete = d_olympic_medals[['athlete','gender','country_id']]
athlete = athlete.drop_duplicates()
athlete = athlete.reset_index(drop=True)
athlete = athlete.reset_index().rename(columns={'index': 'athlete_id'})
athlete

In [ ]:
#merge table
a_olympic_medals = d_olympic_medals.merge(athlete,
                                          how='left',
                                          left_on=['athlete',
                                                   'gender',
                                                   'country_id'],
                                          right_on=['athlete',
                                                    'gender',
                                                    'country_id']).drop(columns=['athlete',
                                                                                 'gender',
                                                                                 'country_id'])

a_olympic_medals

## 2.7. Create 'event' table
* event_id (primary key) ðŸ”‘ 
* event
* discipline_id (foreign key)
* olympic_id (foreign key)

In [ ]:
#Event
event = a_olympic_medals[['event','discipline_id','olympic_id']]
event = event.drop_duplicates()
event = event.reset_index(drop=True)
event = event.reset_index().rename(columns={'index': 'event_id'})
event

In [ ]:
#merge table
e_olympic_medals = a_olympic_medals.merge(event,
                                          how='left',
                                          left_on=['event',
                                                   'discipline_id',
                                                   'olympic_id'], 
                                          right_on=['event',
                                                    'discipline_id',
                                                    'olympic_id']).drop(columns=['event',
                                                                                 'discipline_id',
                                                                                 'olympic_id'])

e_olympic_medals

## 2.8. Create 'participation' table - 
***important***
* participation_id (primary key) ðŸ”‘ 
* medal_id (foreign key)
* athlete_id (foreign key)
* event_id (foreign key)

In [ ]:
#Participation
participation = e_olympic_medals
participation = participation.drop_duplicates()
participation = participation.reset_index(drop=True)
participation = participation.reset_index().rename(columns={'index': 'participation_id'})
participation

# 2c. Create big table and Insert data into tables generated in 2a

In [ ]:
#Using SQL Alchemy 
import sqlalchemy as sqla
import urllib #this library helps with making a connection

In [ ]:
#Set up the connection details
conn_details = urllib.parse.quote_plus('''DRIVER={ODBC Driver 15 for SQL Server};
                                          SERVER=lcb-dmfa-sql.uccob.uc.edu;
                                          DATABASE=LCB-DMFA-015;
                                          UID=LCB-DMFA-015;PWD=HY#597mm''')
#Now we have to create an SQL Alchemy Engine Object
db = sqla.create_engine("mssql+pyodbc:///?odbc_connect=%s" % conn_details)
#Then we create an SQL Alchemy Connection from an Engine Object
conn = db.connect()

In [ ]:
#Now that we have that, we can create table, but we have to drop them in case we re-add table over 
# and over while running.
try:
    conn.execute('DROP TABLE final_project.participation')
except:
    pass
try:
    conn.execute('DROP TABLE final_project.athlete')
except:
    pass
try:
    conn.execute('DROP TABLE final_project.event')
except:
    pass
try:
    conn.execute('DROP TABLE final_project.discipline')
except:
    pass
try:
    conn.execute('DROP TABLE final_project.medal')
except:
    pass
try:
    conn.execute('DROP TABLE final_project.country')
except:
    pass
try:
    conn.execute('DROP TABLE final_project.sport')
except:
    pass
try:
    conn.execute('DROP TABLE final_project.olympic')
except:
    pass
try:
    conn.execute('DROP SCHEMA final_project')
except:
    pass

In [ ]:
#Finally, we can identify table name, primary or/and foreign key, and table attributes. 
conn.execute('CREATE SCHEMA final_project')
conn.execute('''
    CREATE TABLE final_project.olympic (
        olympic_id INT,
        games TEXT,
        year INT,
        city TEXT,
        PRIMARY KEY (olympic_id)
    )
''')
conn.execute('''
    CREATE TABLE final_project.sport (
        sport_id INT,
        sport TEXT,
        PRIMARY KEY (sport_id)
    )
''')
conn.execute('''
    CREATE TABLE final_project.country (
        country_id INT,
        country TEXT,
        country_code VARCHAR(3),
        population INT,
        gdp_per_capita DECIMAL(30, 12),
        PRIMARY KEY (country_id)
    )
''')
conn.execute('''
    CREATE TABLE final_project.medal (
        medal_id INT,
        medal TEXT,
        PRIMARY KEY (medal_id)
    )
''')
conn.execute('''
    CREATE TABLE final_project.discipline (
        discipline_id INT,
        sport_id INT,
        discipline TEXT,
        PRIMARY KEY (discipline_id),
        FOREIGN KEY (sport_id) REFERENCES final_project.sport (sport_id)
    )
''')
conn.execute('''
    CREATE TABLE final_project.event (
        event_id INT,
        discipline_id INT,
        olympic_id INT,
        event TEXT,
        PRIMARY KEY (event_id),
        FOREIGN KEY (discipline_id) REFERENCES final_project.discipline (discipline_id),
        FOREIGN KEY (olympic_id) REFERENCES final_project.olympic (olympic_id)
    )
''')
conn.execute('''
    CREATE TABLE final_project.athlete (
        athlete_id INT,
        country_id INT,
        athlete TEXT,
        gender TEXT,
        PRIMARY KEY (athlete_id),
        FOREIGN KEY (country_id) REFERENCES final_project.country (country_id)
    )
''')
conn.execute('''
    CREATE TABLE final_project.participation (
        participation_id INT,
        athlete_id INT,
        event_id INT,
        medal_id INT,
        PRIMARY KEY (participation_id),
        FOREIGN KEY (athlete_id) REFERENCES final_project.athlete (athlete_id),
        FOREIGN KEY (event_id) REFERENCES final_project.event (event_id),
        FOREIGN KEY (medal_id) REFERENCES final_project.medal (medal_id)
    )
''')

In [ ]:
#insert the new row into the final_project schema
#if the table exists, just add the new row, do not delete the table first
#do not write the dataFrame row index in the table
#we use chunksize because we want to speed up the running time 
try:
    olympic.to_sql('olympic',
                   conn,
                   schema='final_project',
                   if_exists='append',
                   index=False,
                   chunksize=100,
                   method='multi')
except Exception as e:
    print(e)
try:
    sport.to_sql('sport',
                 conn,
                 schema='final_project',
                 if_exists='append',
                 index=False,
                 chunksize=100,
                 method='multi')
except Exception as e:
    print(e)
try:
    country.to_sql('country',
                   conn,
                   schema='final_project',
                   if_exists='append',
                   index=False,
                   chunksize=100,
                   method='multi')
except Exception as e:
    print(e)
try:
    medal.to_sql('medal',
                 conn,
                 schema='final_project',
                 if_exists='append',
                 index=False,
                 chunksize=100,
                 method='multi')
except Exception as e:
    print(e)
try:
    discipline.to_sql('discipline',
                      conn,
                      schema='final_project',
                      if_exists='append',
                      index=False,
                      chunksize=100,
                      method='multi')
except Exception as e:
    print(e)
try:
    event.to_sql('event',
                 conn,
                 schema='final_project',
                 if_exists='append',
                 index=False,
                 chunksize=100,
                 method='multi')
except Exception as e:
    print(e)
try:
    athlete.to_sql('athlete',
                   conn,
                   schema='final_project',
                   if_exists='append',
                   chunksize=100,
                   method='multi',
                   index=False)
except Exception as e:
    print(e)
try:
    participation.to_sql('participation',
                         conn,
                         schema='final_project',
                         if_exists='append',
                         chunksize=100,
                         method='multi',
                         index=False)
except Exception as e:
    print(e)

In [ ]:
#Now that we have that, we can run a select statement into a dataframe
pd.read_sql('SELECT * FROM final_project.event', conn)

In [ ]:
#be sure to close the connection and dispose of the engine
conn.close() #close connection
db.dispose() #close engine